<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 10px solid black;position: absolute;top: 100px;left: 500px;width: 400px;height: 450px;font-size: 30px;text-align: center;">
    <h1>ADMIN LOGIN</h1>
    <h2>{{ error }}</h2>
    <form method="post">
        <label>ADMIN NAME:</label><br>
        <input type="text" name="adminname"><br>
        <label>PASSWORD:</label><br>
        <input type="password" name="adminid"><br>
        <input type="submit" value="LOGIN">

    </form>
    </div>
    <img id="bgimage" src="{{ url_for('static', filename='images/photohands.jpg')}}">
    <div style="position: absolute;bottom: 0px;color: white;background-color: rgb(213, 206, 206);width: 100%;">
        <h1></h1>
        <h2>FOLLOW US ON</h2>
        <a href="https://www.instagram.com/sathya_ram_2005/"><img id="iconimage1" src="{{ url_for('static', filename='images/instagramicon.png') }}"/></a>
        <a href="https://www.facebook.com/ravichandran.ashwin.5454/about"><img id="iconimage2" src="{{ url_for('static', filename='images/facebookicon.png') }}"/></a>
        <a href="mailto:sathyaalh3@gmail.com"><img id="iconimage3" src="{{ url_for('static', filename='images/emailicon.png') }}"/></a>
        <a href="tel:91+9003560430"><img id="iconimage4" src="{{ url_for('static', filename='images/phoneicon.png') }}"/></a>
        <a href="https://www.linkedin.com/in/sathyaram-p-90962425b"><img id="iconimage5" src="{{ url_for('static', filename='images/linkedinicon.png') }}"/></a>
    </div>
</body>
<style>
    #bgimage {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            }
</style>
</html>